@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

* {
  border: none;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #0d1b2a;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.heading {
  z-index: 1;

  background-color: #1b263b;
  width: fit-content;
  height: fit-content;
  padding: 3px 50px;
  border-radius: 10px;

  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #363d4627;
}

h2 {
  font-size: 3vw;
  font-family: "Finger Paint";
  color: #e0e1dd;
  text-transform: uppercase;
}

.wrapper {
  height: 25vw;
  width: 25vw;
  margin: 10px;
  font-size: 7vw;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

.wrapper.win {
  transform: scale(1);
  height: 15vw;
  width: 15vw;
  font-size: 3vw;
}

.box {
  background-color: #415a77;
  color: rgba(37, 56, 34, 0.576);
  border-radius: 15px;

  height: 30%;
  width: 30%;
  font-size: 1em;
  margin: 1.66% 1.66%;
  font-weight: 400;
  font-family: "Finger Paint";
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.player {
  font-size: 30px;
  color: #e0e1dd;
  font-weight: 400;
  border: 3px solid #e0e1dd;
  border-radius: 10px;
  height: 40px;
  width: 10vw;
  margin: 5px 10px;

  font-family: "Finger Paint";
  display: flex;
  align-items: center;
  justify-content: center;
}

.player.active {
  background-color: #363d46;
}

.chance {
  width: 100vw;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.winner {
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}
.winner.active-popup {
  color: #e0e1dd;
  font-family: "Finger Paint";
  font-weight: 400;
  font-size: 4vw;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;

  height: fit-content;
  width: 50vw;
  transform: scale(1);
}

#reset {
  border: none;
  background-color: #1b263b;

  border: 2px solid #363d4627;

  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: fit-content;
  padding: 10px;
  width: 15vw;
  color: #e0e1dd;
  font-size: 3vmin;
  font-family: "Finger Paint";
  text-transform: uppercase;
}

.win-bg {
  backdrop-filter: blur(50px);
  background-color: #363d46;
}

@media (max-width: 450px) {
  .heading {
    margin: 40px 10px;
    height: fit-content;
    width: fit-content;
    padding: 10px 40px;
    position: relative;
    bottom: 50px;
  }

  h2 {
    font-size: 9vmin;
    font-weight: 600;
    text-align: center;
  }

  .wrapper {
    height: 80vw;
    width: 80vw;
    margin: 9px;
    font-size: 18vw;
    position: relative;
    bottom: 30px;
  }
  .wrapper.win {
    font-size: 1.5em;
    transform: scale(1);
    height: 50vw;
    width: 50vw;
  }

  .winner.active-popup {
    position: relative;
    bottom: 40px;
    font-size: 30px;
  }

  .box {
    margin: 1.66% 1.66%;
    height: 30%;
    width: 30%;
    font-size: 1em;
  }

  .player {
    font-size: 7vw;
    height: 23px;

    padding: 3px 30px;

    transition: all 0.2s ease-in-out;

    color: #e0e1dd;
    font-weight: 400;
    border: 3px solid #e0e1dd;
    border-radius: 10px;

    width: 10vw;
    margin: 5px 10px;
  }

  .player.win {
    font-size: 4.3vw;
    height: 14.3px;
    width: 6.25vw;
    border-radius: 6.25px;
    margin: 5px 6.25px;
    border: 1.8;

    padding: 1.8px 18.75px;
    transform: scale(1);
    margin-bottom: 20px;
  }

  .chance {
    position: relative;
    bottom: 20px;
  }

  .winner {
    transform: scale(0);
    transition: all 0.2s ease;
  }
  .winner.active-popup {
    font-size: 9vmin;
    padding: 10px;
    margin: 10px;
    width: 80vw;
    height: fit-content;
    transform: scale(1);
  }

  #reset {
    width: fit-content;
    padding: 10px 15px;
    font-size: 5vmin;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
